./_pycache_
./asn1crypto
./botbulider
./botframework
./bs4
./certifi
./cffi
./chardet
./cryptography
./idna
./isodate
./jwt
./msrest
./oauthlib
./pkg_resources
./pycparser
./requests
./requests_oauthlib
./setuptools
./urllib3
./wheel

